<%include ../partials/header.ejs%>

<% var total = meta.pages %>

<script>
    $(document).ready(function(){
        var granTotal = <%= total %>
        var articles = $("#hero-body-blog  > .container ");  
    });
</script>

<div class="columns is-fullheight">
    <div class="column left-side is-half-desktop is-hidden-touch">
        <section class="hero is-fullheight is-default is-bold">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="title is-1">EF Stuff Here</div>
                    <div class="title is-5">Silenced byt the night</div>
                </div>
            </div>
        </section>
    </div>
    
    <div class="column right-side is-half-desktop is-full-mobile">       
        <section class="hero is-fullheight is-default is-bold">
            <div class="hero-body" id="hero-body-blog">
                <div class="container">        
                
                <% posts.forEach(function(post){ %>
                    <div class="column is-full-desktop">
                        <h1 class="blog-timestamp">
                        2 days ago
                        </h1>
                        <h1 class="title is-5">
                            <%= post.title %>
                            <% if(currentUser){ %>
                                <a href="/post/<%= post._id %>/edit" class="button action-buttons-modified">
                                    <span class="icon is-small">
                                        <i class="fa fa-pencil"></i>
                                    </span>
                                </a>
                                <form class="form-delete-modified" action="/post/<%= post._id %>?_method=DELETE" method="POST">
                                    <button class="button action-buttons-modified">
                                        <span class="icon is-small">
                                            <i class="fa fa-trash"></i>
                                        </span>
                                    </button> 
                                </form>                               
                            <% } %>
                        </h1>
                        <h2 class="blog-summary">
                        <%= post.resume %>
                        </h2>
                        <a href="/post/<%= post._id %>">Read more...</a>
                    </div>
                <% }) %>

                </div>
            </div>
        </section>
        <div class="hero-foot">
            <div class="container footer-container-action">
                <i class="fa fa-arrow-down" id="icon-action-footer"></i>
            </div>
        </div>
    </div>

    <!-- Sidebar blogs -->
</div>

<%include ../partials/footer.ejs%>