<% include ../partials/header.ejs %>

<div class="container">
    <h1 class="title is-1"><%= post.name %></h1>
    <form action="/post/<%= post._id %>/?_method=PUT" method="POST" enctype="multipart/form-data">

        <div class="field">
            <label class="label">Title</label>
            <div class="control">
                <input class="input" name="title" type="text" value="<%= post.title %>">
            </div>
        </div>

        <div class="field">
            <label class="label">Featured Image:</label>
            <div class="columns">
                <div class="column is-half">
                    <figure class="image is-16by9">
                        <img src="<%= post.image %>">
                    </figure>
                </div>
                <div class="column">
                    <div class="file is-centered is-boxed is-primary has-name" style="position:relative; top:40%">
                        <label class="file-label">
                            <input class="file-input" type="file" name="imageUpdate">
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fa fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Choose a file…
                                </span>
                            </span>
                            <span class="file-name">
                                File Selected
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Message</label>
            <div class="control">
                <textarea class="textarea" name="content"><%= post.content %></textarea>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link">Submit</button>
            </div>
            <div class="control">
                <a href="/post/<%= post._id %>" class="button is-text">Cancel</a>
            </div>
        </div>
    </form>

</div>

<% include ../partials/footer.ejs %>